body {
	background-color: #F6F6F6;
/*	background-image:  url("../test.png");*/

}

header {
	text-align: center;
	
}

#card-container {
	height: 400px;
	margin: 0 auto;
}

#card-container .card {
	display: inline-block;
	float: left;
	width: 310px;
	
	margin: 26px;
	line-height: 19px;
	padding-left: 19px;
	padding-right: 19px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}

#card-container .card img {
	position: relative;
	width: 308px;
	left: -19px;
}

#arrows {
	margin: 60px auto;
	text-align: center;
}
#arrows span {
	width:20px;
	font: bold 26px Arial;
	color: #2DA936;

}
#warning {
	margin-top: 40px;
	text-align: center;
	font: bold 26px Arial;
	color: red;

}

.shadow {
  -moz-box-shadow:    0px 3px 5px 6px #ccc;
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;
  box-shadow:         0px 3px 5px 6px #ccc;
}

/*title section*/
.title {
	height: 74px;
	/*position: relative;*/
}
.titleImg {
	float: left;
	/*position: absolute;
	left: 0;*/
	background-image:  url("../test.png");
	width: 48px;
	height: 48px;
    background-size: 48px 48px;
    margin-right: 10px;

}
/*.left-title{
	float: right;
}*/
.p31 {
	font: bold 23px Arial;
	color: #3A3A3A;
	margin-bottom: 10px;
}


.content {
	margin-top: 0px;
	font: 12px Arial;
	color: #3A3A3A;
	line-height: 1.583;
}

.last-note {
	font: bold 16px Arial;
	color: #2DA936;
}